<section class="contact-Info-section section-padding pb-80 fix">
    <div class="container">
        <div class="contact-info-wrapper">
            <div class="row g-0">
                <div class="col-xl-5 col-lg-5">
                    <div class="google-map">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3989.818320343149!2d0!3d0!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2175d9df19ad9761%3A0x6c448b5ce12d33f!2scasa%20remodeling%20wallpaper!5e0!3m2!1sen!2sco!4v1718379827652!5m2!1sen!2sco"
                            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>
                <div class="col-xl-7 col-lg-7">
                    <div class="contact-info-content">
                        <h2 class="wow fadeInUp" data-wow-delay=".3s">Contact Info</h2>
                        <p class="wow fadeInUp" data-wow-delay=".5s">Find us on the map </p>
                        <div class="contact-info-area">
                            <div class="row g-4">
                                <div class="col-lg-6 wow fadeInUp" data-wow-delay=".2s">
                                    <div class="contact-info-items">
                                        <div class="icon">
                                            <i class="fas fa-phone-alt"></i>
                                        </div>
                                        <div class="content">
                                            <h3>Phone</h3>
                                            <h6><a href="tel:9198855401">(919) 885-5401</a></h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 wow fadeInUp" data-wow-delay=".4s">
                                    <div class="contact-info-items">
                                        <div class="icon">
                                            <i class="fas fa-envelope"></i>
                                        </div>
                                        <div class="content">
                                            <h3>Email</h3>
                                            <h6><a href="mailto:walterc&#64;casainstall.com"
                                                    class="link">Walterc&#64;casainstall.com</a></h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 wow fadeInUp" data-wow-delay=".6s">
                                    <div class="contact-info-items">
                                        <div class="icon">
                                            <i class="fas fa-map-marker-alt"></i>
                                        </div>
                                        <div class="content">
                                            <h3>Location</h3>
                                            <h6>Raleigh (NC)</h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 wow fadeInUp" data-wow-delay=".8s">
                                    <div class="contact-info-items">
                                        <div class="icon">
                                            <i class="fas fa-link"><a href="https://www.casawallpaper.com"></a></i>
                                        </div>
                                        <div class="content">
                                            <h3>Website</h3>
                                            <h6>www.casawallpaper.com</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Contact Section Start -->
<section class="contact-section-4 fix section-padding pt-80">
    <div class="container">
        <div class="contact-wrapper-3">
            <div class="row">
                <div class="col-lg-7" style="background: #000;">
                    <div class="contact-content">
                        <div class="section-title">
                            <span class="wow fadeInUp">Contact Us</span>
                            <h2 class="wow fadeInUp" data-wow-delay=".3s">Get In Touch</h2>
                        </div>
                        <form [formGroup]="ngFormRequest" (ngSubmit)="saveRequest()" class="contact-form-items mt-4 mt-md-0">
                            <div class="row g-4">
                              <div class="col-lg-6 wow fadeInUp" data-wow-delay=".3s">
                                <div class="form-clt">
                                  <input type="text" placeholder="Your Name" id="name" name="name" formControlName="name"
                                    [ngClass]="{ 'is-invalid': submitted && f['name'].errors }">
                                  <div *ngIf="submitted && f['name'].errors" class="invalid-feedback">
                                    <div *ngIf="f['name'].errors['required']">Required name.</div>
                                  </div>
                                </div>
                              </div>
                              <div class="col-lg-6 wow fadeInUp" data-wow-delay=".5s">
                                <div class="form-clt">
                                  <input type="text" name="email" id="email" placeholder="Your Email" formControlName="email"
                                    [ngClass]="{ 'is-invalid': submitted && f['email'].errors }">
                                  <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
                                    <div *ngIf="f['email'].errors['required']">Required email.</div>
                                    <div *ngIf="f['email'].errors['email']">Invalid email format.</div>
                                  </div>
                                </div>
                              </div>
                              <div class="col-lg-6 wow fadeInUp" data-wow-delay=".5s">
                                <div class="form-clt">
                                  <input type="text" name="phone" id="phone" placeholder="Phone Number" formControlName="phone"
                                    [ngClass]="{ 'is-invalid': submitted && f['phone'].errors }">
                                  <div *ngIf="submitted && f['phone'].errors" class="invalid-feedback">
                                    <div *ngIf="f['phone'].errors['required']">Required phone.</div>
                                    <div *ngIf="f['phone'].errors['pattern']">Invalid phone number.</div>
                                  </div>
                                </div>
                              </div>
                              <div class="col-lg-6 wow fadeInUp" data-wow-delay=".3s">
                                <div class="form-clt">
                                  <input type="text" name="zipcode" id="zipcode" placeholder="Zip Code" formControlName="zipcode"
                                    [ngClass]="{ 'is-invalid': submitted && f['zipcode'].errors }">
                                  <div *ngIf="submitted && f['zipcode'].errors" class="invalid-feedback">
                                    <div *ngIf="f['zipcode'].errors['required']">Required zip code.</div>
                                  </div>
                                </div>
                              </div>
                              <div class="col-lg-6 wow fadeInUp" data-wow-delay=".5s">
                                <div class="form-clt">
                                  <select id="servicesType" name="servicesType" class="form-control" formControlName="servicesType" 
                                    [ngClass]="{ 'is-invalid': submitted && f['servicesType'].errors }">
                                    <option value="" disabled>Select Services</option>
                                    <option value="Interior Painting">Interior Painting</option>
                                    <option value="Wallpaper installation or repair">Wallpaper installation or repair</option>
                                    <option value="Wallpaper removal" style="color: #fff;">Wallpaper removal</option>
                                  </select>
                                  <div *ngIf="submitted && f['servicesType'].errors" class="invalid-feedback">
                                    <div *ngIf="f['servicesType'].errors['required']">Required services Type.</div>
                                  </div>
                                </div>
                              </div>
                              <div class="col-lg-6 wow fadeInUp" data-wow-delay=".5s">
                                <div class="form-clt">
                                  <select id="projectType" name="projectType" class="form-control" formControlName="projectType" 
                                    [ngClass]="{ 'is-invalid': submitted && f['projectType'].errors }">
                                    <option value="">Type of project</option>
                                    <option value="installation">Installation</option>
                                    <option value="repair">Repair</option>
                                    <option value="installation and repair">Installation and repair</option>
                                  </select>
                                  <div *ngIf="submitted && f['projectType'].errors" class="invalid-feedback">
                                    <div *ngIf="f['projectType'].errors['required']">Required type of project.</div>
                                  </div>
                                </div>
                              </div>
                              <div class="col-lg-12 wow fadeInUp" data-wow-delay=".5s">
                                <div class="form-clt">
                                  <select  id="area" name="area" class="form-control" formControlName="area" 
                                    [ngClass]="{ 'is-invalid': submitted && f['area'].errors }">
                                    <option value="">Approximate square footage of project</option>
                                    <option value="Less than 500 sq ft">Less than 500 sq ft</option>
                                    <option value="500 - 1000 sq ft">500 - 1000 sq ft</option>
                                    <option value="More than 1000 sq ft">More than 1000 sq ft</option>
                                  </select>
                                  <div *ngIf="submitted && f['area'].errors" class="invalid-feedback">
                                    <div *ngIf="f['area'].errors['required']">Approximate square footage is required.</div>
                                  </div>
                                </div>
                              </div>
                              <div class="col-lg-12 wow fadeInUp" data-wow-delay=".7s">
                                <div class="form-clt">
                                  <textarea name="message" id="message" placeholder="Message here.." formControlName="message"
                                    [ngClass]="{ 'is-invalid': submitted && f['message'].errors }"></textarea>
                                  <div *ngIf="submitted && f['message'].errors" class="invalid-feedback">
                                    <div *ngIf="f['message'].errors['required']">Message is required.</div>
                                  </div>
                                </div>
                              </div>
                              <div class="col-lg-7 wow fadeInUp" data-wow-delay=".3s">
                                <button type="submit" id="submit-form" class="theme-btn padding-style" style="    left: 60px;">
                                  Book Now <i class="fas fa-long-arrow-right"></i>
                                </button>
                              </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>